<div class="f-grid-filter-panel">
	<sv-comp-grid-panel-filters v-if="grid.config && grid.config.filters" :grid="grid" @event="onEvent"></sv-comp-grid-panel-filters>

	<div class="filter params-right" :class="{open:ddOpen(grid.config.id+'/columns-open')}">
		<a href="#" class="filter-open-button" @click.prevent.stop="ddToggle(grid.config.id+'/columns-open')">
			<svg width="18" height="18" v-html="svgIconLink(ddOpen(grid.config.id+'/columns-open') ? 'icon-close' : 'icon-columns')"></svg>
		</a>
		<div class="filter-options-block" @click.stop>
			<a v-if="grid.config && grid.config.columns" href="#" class="filter-toggle" :class="{active:settingsTab=='columns'}" @click.prevent="setSettingsTab('columns')"><span>{{'Columns'|_}}</span></a>
			<a v-if="grid.config && grid.config.export" href="#" class="filter-toggle" :class="{active:settingsTab=='export'}" @click.prevent="setSettingsTab('export')"><span>{{'Export'|_}}</span></a>
			<sv-comp-grid-panel-columns v-if="settingsTab == 'columns'" :grid="grid"></sv-comp-grid-panel-columns>
			<sv-comp-grid-panel-export v-if="settingsTab == 'export'" :grid="grid"></sv-comp-grid-panel-export>
			<sv-comp-grid-pager-list v-if="grid.config && grid.config.pager" :grid="grid" @event="onEvent"></sv-comp-grid-pager-list>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="f-filter-tags">
			<div v-if="currentFilters" v-for="(flt, i) in currentFilters" class="f-filter-tags__tag">
				<template v-if="!flt.config">
					{{flt}}
				</template>
				<template v-if="flt.config">
					{{flt.config.label|_}} {{flt.config.ops[flt.op]}}

					<template v-if="flt.config.type==='select' && flt.op.match(/^(in|not_in)$/)">
						<template v-for="(v, j) in flt.values"><span v-if="j">, </span><span>{{flt.config.options[v]}}</span></template>
					</template>
					<template v-else-if="flt.op.match(/^(between|not_between)$/)">
						{{'{from} and {to}'|_(flt)}}
					</template>
					<template v-else>
						{{flt.value}}
					</template>
				</template>

				<a href="#" @click.prevent="emitEvent('remove-filter', i)" class="f-tags__remove"><i class="fa fa-times" aria-hidden="true"></i></a>
			</div>
			<a v-if="hasFilters" href="#" class="f-filter-tags__clear-button" @click.prevent="emitEvent('remove-all-filters')">{{'Clear all filters'|_}}</a>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="f-grid-panel">
			<sv-comp-grid-pager-dropdown :grid="grid" @event="onEvent" class="visible-xs f-filter__elem" v-if="grid.config.pager"></sv-comp-grid-pager-dropdown>

			<span v-if="grid.config.data_url"><a href="#" @click.prevent="emitEvent('fetch-data')">&#8635;</a></span>
			<span v-if="cntTotal" class="amount-rows f-filter__elem"> {{'Showing {visible} of {total} rows'|_({visible:cntVisible, total:cntTotal})}} </span>
			<span v-else="cntTotal" class="amount-rows f-filter__elem"> {{'No requested data found'|_}} </span>

			<div v-if="cntTotal" class="f-search-block f-filter__elem">
				<input type="text" :placeholder="'Search grid...'|_" v-model="quickSearch" class="f-input" @keyup.enter="remoteQuickSearch"/>
				<button class="visible-xs" name="button" type="button">
					<svg width="20" height="19" v-html="svgIconLink('icon-search')"></svg>
				</button>
			</div>
			<sv-comp-grid-bulk-actions v-if="grid.config && grid.config.bulk_actions" :grid="grid" @event="onEvent"></sv-comp-grid-bulk-actions>
			<sv-comp-grid-pager-dropdown :grid="grid" @event="onEvent" class="hidden-xs" v-if="grid.config.pager"></sv-comp-grid-pager-dropdown>
			<sv-comp-actions :groups="grid.config.panel_actions_groups" class="f-filter__elem" event-name="panel-action" @event="onEvent"></sv-comp-actions>
		</div>
	</div>
</div>